<template>
  <b-tabs position="is-left" class="mt-5 ml-5 block">
    <b-tabs-item> 
        <h2 class="title is-h2 mt-5">Video Explicativo</h2>
        <iframe class="image" src="https://drive.google.com/file/d/1FMCodPkeTkn1ZdxBfICAwb5RgZzAFggg/preview"  height="480"></iframe>
    </b-tabs-item>

    <b-tab-item label="Aprendizaje">
      <a
        class="link"
        v-for="imageLink of imagesLink"
        :href="imageLink.link"
        :key="imageLink.title"
        target="_blank"
      >
        <h2 class="title is-h2 mt-5">{{ imageLink.title }}</h2>
        <b-image
          class="image"
          :alt="imageLink.title"
          ratio="5by2"
          :src="imageLink.image"
        >
        </b-image>
      </a>
    </b-tab-item>
    <b-tab-item label="Formulario">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfMhTyQpVdMGsmGGJuTQVSbxSe8yx4Y3ubS6-9_Ne7MVu5ilA/viewform?embedded=true"
        width="640"
        height="2582"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSd9Urft38YnFdz0zOpNbkcAqWEg7kKLTNrm1L0nO71tRk9JNA/viewform?embedded=true"
        width="640"
        height="2305"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScP6zn19Ud4MIUoO7KdckHPczV0tDPxZfZowfe3SWoss4tDHg/viewform?embedded=true"
        width="640"
        height="1995"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >
    </b-tab-item>
  </b-tabs>
</template>

<script>
import { ImageLink } from '../../helpers/models.js';

const _imagesLink = [
  new ImageLink(
    'Arquitectura de Computadoras',
    '/static/computing/Arquitectura.png',
    'https://drive.google.com/file/d/1ip46XnL-bbL7-em9EmEgd8qjp3b9aTnc/view?usp=sharing'
  ),
  new ImageLink(
    'Red de Computadoras',
    '/static/computing/RedesdeComputadoras.png',
    'https://drive.google.com/file/d/14VqLBKDn07CYwv563IQyfCkF_eHa3u6G/view?usp=sharing'
  ),
  new ImageLink(
    'Sistemas Operativos',
    '/static/computing/SistemasOperativos.png',
    'https://drive.google.com/file/d/1O-enyJeYoQ36hoKOsBLrDwdFb2enIoYu/view?usp=sharing'
  ),
];

export default {
  name: 'Computing',
  data: () => ({
    imagesLink: _imagesLink,
  }),
  methods: {
    getImgUrl(pic) {
      return require(pic);
    },
  },
};
</script>

<style lang="scss" scoped>
.link {
  cursor: pointer;
}
.image {
  width: 80%;
  margin: auto;
}
</style>
