<template>
  <div>
    <b-navbar class="is-primary" active shadow>
      <template slot="start">
        <b-navbar-item
          class="has-text-white"
          tag="router-link"
          to="/page/computing"
        >
          Computación
        </b-navbar-item>
        <b-navbar-item
          class="has-text-white"
          tag="router-link"
          to="/page/information"
        >
          Información
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <b-button @click="handleLogOut" class="is-primary has-text-white">
            Log Out
          </b-button>
        </b-navbar-item>
      </template>
      <router-view />
    </b-navbar>

    <router-view />
  </div>
</template>

<script>
import { signOut } from '../../helpers/firebase';
import {
  successNotification,
  dangerNotification,
} from '../../helpers/notifications';

export default {
  name: 'Page',
  methods: {
    handleLogOut() {
      signOut()
        .then(() => {
          successNotification('Gracias por la visita');
          this.$router.replace('/login');
        })
        .catch((e) => dangerNotification(e.message));
    },
  },
};
</script>
