<template>
  <section class="login columns is-vcentered">
    <div class="login__column column is-7">
      <h3 class="title is-3">Computación e Información</h3>
      <div class="login__card p-1 card card-container has-background-light">
        <b-field label="Correo">
          <b-input
            placeholder="correo@ejemplo.com"
            type="email"
            v-model="email"
          ></b-input>
        </b-field>
        <b-field label="Contraseña">
          <b-input v-model="password" placeholder="*****"></b-input>
        </b-field>

        <b-field>
          <b-button
            @click="signInLogin"
            class="is-primary has-text-white"
            icon-left="user"
            expanded
          >
            Acceder con email
          </b-button>
        </b-field>
        <b-field>
          <b-button
            @click="signInGoogle"
            class="is-danger has-text-white"
            icon-left="google"
            expanded
          >
            Acceder con Google</b-button
          >
        </b-field>
      </div>
    </div>
  </section>
</template>

<script>
import { signInWithLogin, signInWithGoogle } from '../helpers/firebase';
import {
  successNotification,
  dangerNotification,
} from '../helpers/notifications';

export default {
  name: 'Login',
  components: {},
  data() {
    return {
      email: '',
      password: '',
    };
  },
  methods: {
    loginAction() {
      successNotification('Bienvenido');
      this.$router.replace('/page/computing');
    },
    signInLogin() {
      signInWithLogin(this.email, this.password)
        .then(() => this.loginAction())
        .catch((e) => dangerNotification(e.message));
    },
    signInGoogle() {
      signInWithGoogle()
        .then(() => this.loginAction())
        .catch((e) => dangerNotification(e.message));
    },
  },
};
</script>

<style lang="scss" scoped>
.login {
  height: 100vh;
  &__column {
    margin: auto;
  }
  &__card {
    padding: 1em;
  }
}
</style>
